/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&family=Montserrat:wght@300;400;600&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Headings */
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.2rem;
}

/* Horizontal Rule */
hr {
    border: 3px solid #000;
    border-top-width: 3px;
    width: 60vh;
}

li {
    list-style: none;
}
/* Body Styles */
html, body {
    font-family: "Darker Grotesque", serif;
    background-color: #f3f2ee;
}

/* Navbar Styles */
.navbar {
    text-align: center;
    background-color: #77ACF1;
    border-radius: 10px;
}

#logo {
    font-family: 'Darker Grotesque', sans-serif;
    color: #000;
    font-size: 6rem;
    font-weight: bold;
    border: 3px solid #000;
    border-radius: 10px;
}

/* Date Styles */
#date {
    text-align: center;
    background-color: #000;
    color: #FFF;
    padding: 1rem;
    margin-top: 0.2rem;
    border-radius: 10px;
}

/* Wrapper Styles */
.wrapper {
    width: 90vw;
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
    display: grid;
}

/* Task List Styles */
.todos {
    height: 60dvh;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 0.2rem;
    border-radius: 10px;
}

.tasks {
    font-size: 2.2rem;
}

/* Footer Styles */
.footer {
    text-align: center;
    height: 10vh;
    background-color: #77ACF1;
    color: #000;
    border: 3px solid #000;
    padding: 1rem;
    margin-top: 0.2rem;
    border-radius: 10px;
}

/* Button Styles */
button {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5rem;
    background-color: #000;
    border: 1px solid #222;
    color: #FFF;
    cursor: pointer;
    width: auto;
    display: inline-block;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
/* vertical text style */

#vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 15rem;
    position: absolute;
    margin-left: -18rem;
    font-weight: 710;
    max-width: 100%;
    align-self: center;
}
