@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&family=Montserrat:wght@300;400;600&display=swap');
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 2rem 2rem 2rem;
    padding: 3rem;
    
}

body {
    font-family: "Darker Grotesque", serif;
    background: #f3f2ee;
}

h1 {
    font-size: 6.5rem;
}

h3 {
    font-size: 4rem;
}

/* header */

.header {
    /* width: 100vh;
    height: 500px; */
    position: absolute;
    text-align: center;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    grid-column: 1;
    grid-row: 1 / span 2;

}

#logo {
    font-family: 'Darker Grotesque', sans-serif;
    color: #000;
}

.daily-tasks {
    display: grid;
    grid-column: 4;
    grid-row: 1;
}

.weekly-tasks {
    display: grid;
    grid-column: 5;
    grid-row: 1;
}
